<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <h1>
            {{ message }}
        </h1>
        <a href="/task/">Список задач</a><br>
        <a href="/chat/">Чат</a><br>
        <a href="/auth/login/">Войти</a><br>
        <a href="/auth/signup/">Зарегистрироваться</a>
    </body>
</html>