<form method="POST" action="/auth/login/">
    <label>
        Имя пользователя
        <input type="text" name="username" required="required" placeholder="Введите ваш логин">
    </label><br>
    <label>
        Пароль
        <input type="password" name="password" required="required" placeholder="Введите ваш пароль">
    </label><br>
    <button type="submit">Войти</button>
</form>
