<form method="POST" action="http://localhost:3000/auth/signup/">
    <label>
        Имя пользователя
        <input type="text" name="username" required="required" placholder="Введите имя пользователя">
    </label><br>
    <label>
        Ваш e-mail
        <input type="email" name="email" required="required" placeholder="Введите e-mail">
    </label><br>
    <label>
        Пароль
        <input type="password" name="password" required="required" placeholder="Введите ваш пароль">
    </label><br>
    <button type="submit">Зарегистрироваться</button>
</form>